<div class="container-fluid">
    <div class="col-xs-12 col-sm-4">
      <div class="card-serv" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path background_url(@service), height: 300, width: 400, crop: :fill %>')">
      <div class="card-user-service">
        <%= @service.user.first_name %>
      </div>
      <div class="card-category-service">
        <%= @service.category %>
      </div>

       <div class="card-description-service">
        <h2><%= @service.description %></h2>
        </div>

      </div>
    </div>
  <%= render 'proposal' %>

</div>

