<div class="col-xs-12 col-sm-4">
   <!--  <h5> Criar Proposta</h5> -->
    <%= simple_form_for [@service, @proposal] do |f| %>
      <%= f.input :description, label: 'Criar Proposta' %>
      <%= f.input :user_id, :as => :hidden, label: 'User ID' %>
      <%= f.input :service_id, :as => :hidden,label: 'Service ID' %>
      <% f.input :photos, as: :attachinary %>
      <%= f.submit "Adiconar", class: "btn btn-primary" %>
      <%= link_to "Voltar", services_path(category: @service.category), :method => "get", :class=>"btn btn-warning" %>
    <% end %>
</div>

