
<br>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-16 col-sm-4">
      <%= render "card" %>
      </div>
      <%= render 'proposal' %>
    </div>
  </div>
</section>
<br>
<h3> Lista de Propostas </h3>

<br>
<section>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>Descrição</th>
        <th>Status</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
    <% @proposal_list.each do |proposal| %>
      <tr>
        <td><%= link_to "#{proposal.description}", my_proposal_path(proposal) %></td>
        <td><%= proposal.status %></td>
        <td><%= proposal.created_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>
