<h1>Minha proposta</h1>
<h2><%= @my_proposal.user.first_name %> para <%= @my_proposal.service.user.first_name %></h2>
<p><%= @my_proposal.service.category %></p>
<p><%= @my_proposal.service.description %></p>
<p><%= @my_proposal.description %></p>


<%= link_to 'Editar minha proposta', edit_my_proposal_path(@my_proposal), class: "btn btn-primary", id: "link" %>



