
<div class="container padded">
<h2>Skill: <strong><%= @my_service.description.capitalize %></strong> </h2>
<h4>Categoria: <strong><%= @my_service.category %></strong> </h4>

<br>


<%= link_to "Editar", edit_my_service_path(@my_service), class:"btn btn-warning" %>

<%= link_to "Apagar este skill", my_service_path(@my_service), class:"btn btn-danger", method: :delete, data: { confirm: "Você tem certeza?" } %>

<%= link_to "Ver todos", my_services_path, class:"btn btn-primary" %>

</div>

<hr>

<div class="container padded">
<section>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>Descrição</th>
        <th>Status</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
    <% @my_service.proposals.each do |proposal| %>
      <tr>
        <td><%= link_to "#{proposal.description}", received_proposal_path(proposal) %></td>
        <td><%= proposal.status %></td>
        <td><%= proposal.created_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>
</div>




