<div class="container">
  <div class="skill-detail">
    <h2>Skill: <strong><%= @my_service.description.capitalize %></strong> </h2>
    <h4>Category: <strong><%= @my_service.category %></strong> </h4>
    <br>
      <%= link_to "Edit", edit_my_service_path(@my_service), class:"btn btn-warning" %>
      <%= link_to "Delete", my_service_path(@my_service), class:"btn btn-danger", method: :delete, data: { confirm: "Are you sure?" } %>
      <%= link_to "See all", my_services_path, class:"btn btn-primary" %>
    <br>
  </div>
  <br>

  <div class="tab">
    <button class="tablinks" onclick="openCity(event, 'New')">New</button>
    <button class="tablinks" onclick="openCity(event, 'Accepted')">Accepted</button>
    <button class="tablinks" onclick="openCity(event, 'Declined')">Declined</button>
    <button class="tablinks" onclick="openCity(event, 'Finished')">Finished</button>
    <button class="tablinks" onclick="openCity(event, 'All')">All</button>
  </div>

  <div id="New" class="tabcontent">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Description</th>
          <th>Status</th>
          <th>Accepted</th>
          <th>Declined</th>
          <th>Finished</th>
        </tr>
      </thead>
      <tbody>
      <% @my_service.proposals.each do |proposal| %>
        <% if proposal.status == 'New'  %>
        <tr>
          <td><%= link_to "#{proposal.description}", received_proposal_path(proposal) %></td>
          <td><%= proposal.status %></td>
          <td><%= link_to "Aceitar", accept_received_proposal_path(proposal), method: :patch, class:"btn btn-primary" %></td>
          <td><%= link_to "Recusar", decline_received_proposal_path(proposal), method: :patch, class:"btn btn-danger" %></td>
          <td><%= link_to "Finalizar", finish_received_proposal_path(proposal), method: :patch, class:"btn btn-success" %></td>
        </tr>
        <% else %>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>

  <div id="Accepted" class="tabcontent">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Description</th>
          <th>Status</th>
          <th>Accepted</th>
          <th>Declined</th>
          <th>Finished</th>
        </tr>
      </thead>
      <tbody>
      <% @my_service.proposals.each do |proposal| %>
        <% if proposal.status == 'Accepted'  %>
        <tr>
          <td><%= link_to "#{proposal.description}", received_proposal_path(proposal) %></td>
          <td><%= proposal.status %></td>
          <% if proposal.status == 'Accepted'  %>
                  <td> </td>
                <% else %>
                  <td><%= link_to "Aceitar", accept_received_proposal_path(proposal), method: :patch, class:"btn btn-primary" %></td>
              <% end %>

             <% if proposal.status == 'Declined'  %>
                  <td> </td>
                <% else %>
              <td><%= link_to "Recusar", decline_received_proposal_path(proposal), method: :patch, class:"btn btn-danger" %></td>
              <% end %>
              <td><%= link_to "Finalizar", finish_received_proposal_path(proposal), method: :patch, class:"btn btn-success" %></td>
        </tr>
        <% else %>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>

  <div id="Declined" class="tabcontent">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Description</th>
          <th>Status</th>
          <th>Accepted</th>
          <th>Declined</th>
          <th>Finished</th>
        </tr>
      </thead>
      <tbody>
      <% @my_service.proposals.each do |proposal| %>
        <% if proposal.status == 'Declined'  %>
        <tr>
          <td><%= link_to "#{proposal.description}", received_proposal_path(proposal) %></td>
          <td><%= proposal.status %></td>
          <% if proposal.status == 'Accepted'  %>
                  <td> </td>
                <% else %>
                  <td><%= link_to "Aceitar", accept_received_proposal_path(proposal), method: :patch, class:"btn btn-primary" %></td>
              <% end %>

             <% if proposal.status == 'Declined'  %>
                  <td> </td>
                <% else %>
              <td><%= link_to "Recusar", decline_received_proposal_path(proposal), method: :patch, class:"btn btn-danger" %></td>
              <% end %>
              <td><%= link_to "Finalizar", finish_received_proposal_path(proposal), method: :patch, class:"btn btn-success" %></td>
        </tr>
        <% else %>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>


  <div id="Finished" class="tabcontent">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Description</th>
          <th>Status</th>
          <th>Accepted</th>
          <th>Declined</th>
          <th>Finished</th>
        </tr>
      </thead>
      <tbody>
      <% @my_service.proposals.each do |proposal| %>
        <% if proposal.status == 'Finished'  %>
        <tr>
          <td><%= link_to "#{proposal.description}", received_proposal_path(proposal) %></td>
          <td><%= proposal.status %></td>
          <% if proposal.status == 'Finished'  %>
                  <td> </td>
                <% else %>
                  <td><%= link_to "Aceitar", accept_received_proposal_path(proposal), method: :patch, class:"btn btn-primary" %></td>
              <% end %>
             <% if proposal.status == 'Declined'  %>
                  <td> </td>
                <% else %>
              <td><%= link_to "Recusar", decline_received_proposal_path(proposal), method: :patch, class:"btn btn-danger" %></td>
              <% end %>
              <td><%= link_to "Finalizar", finish_received_proposal_path(proposal), method: :patch, class:"btn btn-success" %></td>

        </tr>
        <% else %>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>








  <div id="All" class="tabcontent">
    <table class="table table-sm">
          <thead>
            <tr>
              <th>Descrição</th>
              <th>Status</th>
              <th>Accepted</th>
              <th>Declined</th>
              <th>Finished</th>
            </tr>
          </thead>
          <tbody>
          <% @my_service.proposals.each do |proposal| %>
            <tr>
              <td><%= link_to "#{proposal.description}", received_proposal_path(proposal) %></td>
              <td><%= proposal.status %></td>
              <% if proposal.status == 'Accepted'  %>
                  <td> </td>
                <% else %>
                  <td><%= link_to "Aceitar", accept_received_proposal_path(proposal), method: :patch, class:"btn btn-primary" %></td>
              <% end %>

             <% if proposal.status == 'Declined'  %>
                  <td> </td>
                <% else %>
              <td><%= link_to "Recusar", decline_received_proposal_path(proposal), method: :patch, class:"btn btn-danger" %></td>
              <td><%= link_to "Finalizar", finish_received_proposal_path(proposal), method: :patch, class:"btn btn-success" %></td>
              <% end %>
            </tr>
          <% end %>
          </tbody>
        </table>
  </div>
</div>

<% content_for :after_js do %>
  <%= javascript_tag do %>
    openCity(event, 'All')
  <% end %>
<% end %>
